<nav class="navbar">
  <div class="container">
    <ul class="navbar-list">
      <li class="navbar-item"><a class="navbar-link" routerLink="/projects">Проекты</a></li>
      <!-- <li class="navbar-item"><a class="navbar-link" routerLink="/tests">Тесты</a></li> -->
      <!-- <li class="navbar-item"><a class="navbar-link" routerLink="/messages">Сообщения</a></li> -->
      <!-- <li class="navbar-item"><a class="navbar-link" routerLink="/pipes">Сборки</a></li> -->
      <li class="navbar-item"><a class="navbar-link" routerLink="/settings">Настройки</a></li>
    </ul>
  </div>
</nav> 


<router-outlet class="docs-section"></router-outlet>

 